.card__like-icon {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background: url("../../../images/like-icon.svg") no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}
.card__like-icon:hover {
  opacity: 0.5;
  transition: opactity 0.5s ease;
}
