.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background: url("../../../images/Close-Icon.svg") no-repeat 50% 50%;
  background-size: cover;
  border: none;
  top: -35px;
  right: 0;
}
.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
@media screen and (min-width: 768px) {
  .popup__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
