.profile__text-container {
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .profile__text-container {
    padding-left: 30px;
    justify-self: start;
    text-align: left;
    flex: 1;
  }
}
